<mat-card class="top-adv">  UPTO 50% OFF ON COSMETICS PRODUCTS </mat-card>

<mat-card class="nav-heading">

    <mat-card class="box">
        <mat-list>
            <mat-list-item> Wishlist</mat-list-item>
            <mat-list-item> Contact</mat-list-item>
            <mat-list-item> Contact</mat-list-item>
            
        </mat-list>
    </mat-card>  
    
    <mat-card class="box logo">
        <mat-list>
            <mat-list-item> <img src="assets/img/3_5bc8ec31-6889-4c4b-8b85-17fb13d50dc7_large.webp" alt=""/></mat-list-item>
        </mat-list>
    </mat-card>  

    <mat-card class="box">
        <mat-list>
            <mat-list-item> <mat-icon> shopping_bag</mat-icon></mat-list-item> 
            <mat-list-item> <mat-icon> shopping_bag</mat-icon></mat-list-item> 
            <mat-list-item> <mat-icon> person</mat-icon></mat-list-item> 
        </mat-list>
    </mat-card> 

</mat-card>

<mat-card class="nav-routes">
    <mat-list>
        <mat-list-item> <a href=""> Glow </a></mat-list-item>
        <mat-list-item> <a href="">Accessories <span> NEW</span> </a></mat-list-item>
        <mat-list-item> <a href="">Category </a></mat-list-item>
        <mat-list-item> <a href="">Skin Care </a></mat-list-item>
        <mat-list-item> <a href="">FAQ's</a></mat-list-item>
        <mat-list-item> <a href="">Category </a></mat-list-item>


    </mat-list>
</mat-card> 
