 
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
 
 
 .top-banner{
     background: url(../../../assets/img/bg1.webp) !important;
     background-repeat: no-repeat !important;
     background-size: cover !important;
     padding: 0 !important;
     border-radius: 0 !important;
     box-shadow: none !important;
     position: relative !important;
     min-height: 577px !important;
 }

 .top-banner .content{
     background: transparent !important;
     box-shadow: none  !important;
     position: absolute !important;
     top:  200px !important;
     left: 100px !important;

 }

 .top-banner .content .tag{
    color: var(--green) !important;
    font-family: 'Hurricane';
    font-size: 85px !important;
 }


 .top-banner .content .btn-1{
    background: var(--green) !important;
    color: var(--white) !important;
    font-size: 15px !important;
 }

 /* ################ Second  Section ############ */

 .second-section{
     background: transparent !important;
     box-shadow: none !important;
     border-radius: 0px !important;
     display: flex !important;
     justify-content: space-around !important;
     flex-direction: row !important;
     flex-wrap: wrap !important;
     padding: 33px !important;
     
 }

 .second-section .box{
     box-shadow: none !important;
     width: 22% !important;
     padding: 0px !important;
 }


 /* ######################################### */

 .third-section{
     background-image: url(../../../assets/img/prallex.webp) !important;
     background-repeat: no-repeat !important;
     background-attachment: fixed !important;
     background-size: cover!important;
     box-shadow: none !important;
     border-radius: 0px !important;
     min-height: 490px !important;
     display: flex !important;
     flex-direction: row !important;
     justify-content: right !important;
     justify-items: right !important;
     
 }

 .third-section .content{
     background: transparent !important;
     box-shadow: none !important;
     width: 380px !important;
     margin: 150px 0 0 0 !important;

 }

 .third-section .content .heading{
    color: var(--green) !important;
    font-family: 'Hurricane' !important;
    font-size: 85px !important;
 }