<app-fronteend-header> </app-fronteend-header>

<!-- ########## Top-Carousel ######### -->
<mat-card class="top-banner">

    <mat-card class="content">

    <h3 class="tag"> Natural </h3>
    <h1> Skincare Products </h1>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates nulla sint iste nisi! </p>
    <button mat-raised-button class="btn-1"> View Products</button>
    
    </mat-card>

</mat-card>

<!-- ########### Second Section ######## -->
<mat-card class="second-section">
    <mat-card class="box">

        <h1> <mat-icon> sync </mat-icon>Easy Refund </h1>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
 
    </mat-card>

    <mat-card class="box">

        <h1> <mat-icon> attach_money</mat-icon>Secure Payment </h1>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
 
    </mat-card>

    <mat-card class="box">

        <h1> <mat-icon>directions_ferry</mat-icon> Fast Delivery </h1>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
 
    </mat-card>

    <mat-card class="box">

        <h1> <mat-icon> message </mat-icon> 24X7 Support </h1>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
 
    </mat-card>
</mat-card>

<app-trending-products> </app-trending-products>

<app-fronteend-footer> </app-fronteend-footer>
