<mat-card class="footer">

    <mat-card class="box">
        <mat-list>
            <mat-list-item> 
                <img src="assets/img/3_5bc8ec31-6889-4c4b-8b85-17fb13d50dc7_large.webp" alt=""/>
            </mat-list-item>
            <mat-list-item>                 <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet.</p></mat-list-item>
        </mat-list>
    </mat-card>  

    <mat-card class="box">
        <mat-list>
            <h3> Your Account</h3> 
            <mat-list-item> My Account</mat-list-item>
            <mat-list-item> Wishlist</mat-list-item>
            <mat-list-item> Orders</mat-list-item>
        </mat-list>
    </mat-card>  

    <mat-card class="box">
        <mat-list>
            <h3> Company </h3> 
            <mat-list-item> Delivery</mat-list-item>
            <mat-list-item> Payment</mat-list-item>
            <mat-list-item> Contact</mat-list-item>
            <mat-list-item> Terms & Condition</mat-list-item>


        </mat-list>
    </mat-card>  

    <mat-card class="box">
        <mat-list>
            <h3> Company </h3> 
            <mat-list-item> Delivery</mat-list-item>
            <mat-list-item> Payment</mat-list-item>
            <mat-list-item> Contact</mat-list-item>
            <mat-list-item> Terms & Condition</mat-list-item>


        </mat-list>
    </mat-card> 


</mat-card>


<mat-card class="Copyright"> 
    <p> © 2022, Glow Inc. Powered by  </p>
</mat-card>