
<mat-card class="container"> 

    <mat-card class="heading-wrapper">
        <p class="heading"> Exclusive</p>
        <h3> Deal Of The Day</h3>       
    </mat-card>

    <mat-card class="content">
         <mat-card class="img-slide">
            <img src="../../../assets/img/product1.webp" alt="" class="img"/>
         </mat-card>
         <mat-card class="info"> 

              <h1 class="productHeading"> Product Title</h1> 
              <h2 class="price"> <span> $45.00 </span> <br/> Sale price $44.00</h2>
              <h2> &#x2764; Add to wishlist  </h2>

              <mat-card class="usp">

                <mat-card class="box">
                    <h3> Free Delivery </h3>
                    <p> Lorem Ipsum dummy </p>
                </mat-card>
                <mat-card class="box">
                    <h3> Free Delivery </h3>
                    <p> Lorem Ipsum dummy </p>
                </mat-card>
                <mat-card class="box">
                    <h3> Free Delivery </h3>
                    <p> Lorem Ipsum dummy </p>
                </mat-card>
                <mat-card class="box">
                    <h3> Free Delivery </h3>
                    <p> Lorem Ipsum dummy </p>
                </mat-card>

              </mat-card>

              <mat-card class="btn-grp"> 
                  <button mat-raised-button class="btn1"> ADD TO CARD</button>
                  <button mat-raised-button class="btn2"> BUY IT NOW</button>
              </mat-card>

              <mat-card class="trust">
                  <img src="../../../assets/img/trust.webp" />
              </mat-card>

         </mat-card>
    </mat-card>

</mat-card>
