<mat-card class="trendingProduct"> 
   <mat-card class="heading"> 
       <h4> New Season </h4>
       <h1>  Trending Products </h1> 

       <mat-card class="toogle-product">
            <mat-list>
                <mat-list-item> Latest Products</mat-list-item>
                <mat-list-item> New Arrivals</mat-list-item>
                <mat-list-item> Best Products</mat-list-item>
                
            </mat-list>
       </mat-card>  
   </mat-card>

    <mat-card class="products-box-wrapper"> 
        <mat-card class="products-box"> 
                <mat-card class="product"> 
                <img src="../assets/img/product1.webp" class="product-img" alt=""/>
                </mat-card>

                <mat-card class="product-info">
                    <h3> Anti-Aging Cream </h3>
                    <h4> $26.00 </h4>
                </mat-card>

                <mat-card class="action-btns">
                    <button mat-raised-button> QUICK VIEW</button>
                    <button mat-raised-button> ADD TO CART</button>
                </mat-card>
        </mat-card>

        <mat-card class="products-box"> 
            <mat-card class="product"> 
            <img src="../assets/img/product2.webp" class="product-img" alt=""/>
            </mat-card>

            <mat-card class="product-info">
                <h3> Anti-Aging Cream </h3>
                <h4> $26.00 </h4>
            </mat-card>

            <mat-card class="action-btns">
                <button mat-raised-button> QUICK VIEW</button>
                <button mat-raised-button> ADD TO CART</button>
            </mat-card>
        </mat-card>


        <mat-card class="products-box"> 
            <mat-card class="product"> 
            <img src="../assets/img/product2.webp" class="product-img" alt=""/>
            </mat-card>

            <mat-card class="product-info">
                <h3> Anti-Aging Cream </h3>
                <h4> $26.00 </h4>
            </mat-card>

            <mat-card class="action-btns">
                <button mat-raised-button> QUICK VIEW</button>
                <button mat-raised-button> ADD TO CART</button>
            </mat-card>
        </mat-card>



        <mat-card class="products-box"> 
            <mat-card class="product"> 
            <img src="../assets/img/product2.webp" class="product-img" alt=""/>
            </mat-card>

            <mat-card class="product-info">
                <h3> Anti-Aging Cream </h3>
                <h4> $26.00 </h4>
            </mat-card>

         

            <mat-card class="action-btns">
                <button mat-raised-button> QUICK VIEW</button>
                <button mat-raised-button> ADD TO CART</button>
            </mat-card>
        </mat-card>

    </mat-card>   
   
</mat-card>